<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app3.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/dog.jpg">
    </div>


    {{>footer}}
</body>

</html>